<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haven.dao.OrderSettingDao">

    <select id="getOrderSettingByMonth" parameterType="map" resultType="orderSetting">
        select * from t_ordersetting where orderDate between #{startTime} and #{endTime}
    </select>
    <select id="findByDate" parameterType="date" resultType="integer">
        select count(*) from t_ordersetting where orderDate=#{orderDate}
    </select>

    <update id="update" parameterType="orderSetting">
        update t_ordersetting set number=#{number} where orderDate=#{orderDate}
    </update>
    <insert id="add" parameterType="orderSetting">
        insert into t_ordersetting(orderDate,number,reservations)
        values (#{orderDate},#{number},#{reservations})
    </insert>
    <select id="findAllByDate" parameterType="date" resultType="orderSetting">
        select * from t_ordersetting where orderDate=#{orderDate}
    </select>
</mapper>